﻿@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About - Business Casual - Start Bootstrap Theme</title>
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/css/business-casual.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-md-8">
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2137.525260758942!2d30.32480606716075!3d40.741847126548734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd81085b5551312fd!2sBilgisayar+Ve+Bili%C5%9Fim+Bilimleri+Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1478565099274" ></iframe>
                </div>
                <div class="col-md-4">
                    <p>
                        Phone:
                        <strong>123.456.7890</strong>
                    </p>
                    <p>
                        Email:
                        <strong><a href="mailto:name@example.com">name@example.com</a></strong>
                    </p>
                    <p>
                        Address:
                        <strong>
                             Sakarya Üniversitesi
                            <br>Esentepe Kampüsü
                        </strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            Contact
                            <strong>form</strong>
                        </h2>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vitae, distinctio, possimus repudiandae cupiditate ipsum excepturi dicta neque eaque voluptates tempora veniam esse earum sapiente optio deleniti consequuntur eos voluptatem.</p>
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <div class="form-group col-lg-4">
                                        <label>Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Email Address</label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Phone Number</label>
                                        <input type="tel" class="form-control">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-lg-12">
                                    <label>Message</label>
                                    <textarea class="form-control" rows="6"></textarea>
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="hidden" name="save" value="contact">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div>
    <script src="../../Scripts/js/jquery.js"></script>
    <script src="../../Scripts/js/bootstrap.min.js"></script>
</body>
</html>
