﻿@{
    ViewBag.Title = "Anasayfa";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/css/business-casual.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
   
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="~/img/istiklal-caddesi-e1438034865271.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="~/img/bogazici1.jpeg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="~/img/bogaz7.jpeg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="~/img/cafe.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/img/bogaz6.jpeg" alt="">
                        </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">TuriSTANBUL</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            By
                            <strong>nursebil</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        GALATA KULESI
                        <strong>ISTANBUL</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/img/galata-kulesi-300x199.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Istanbul'un simgelerinden olan Galata Kulesi, gunumuzde ozel bir sirket tarafindan sadece turistik amacli isletilmektedir.
                    7 kati asansorle, 2 kati da yuruyerek cikip, Galata Kulesi'nin en ust katindaki restoranin icinden gectikten sonra, Galata Kulesi'ni Istanbul'a acan balkona ulasilir. 
                    Balkondan Istanbul'u izlemenin keyfi harikadir. Dilerseniz Tarihi Galata Kulesi'nin ustunde bulunan restorantta lezzetli yemeklerin tadina bakarken, essiz manzaranin da keyfini cikartabilirsiniz. </p>
                     <p>Gunumuzde Galata Kulesi'nin yuksekligi 66,90 metre. dis capi 16.45 metre, ic capi ise 8.95 metredir. Duvar kalinligida 3.75 metre civarindadir. Galata Kulesi ziyaretinden sonra kule dibi olarak bilinen cay ocaginda cay icip Galata Kulesi'nin tadina bir de kule dibinden cikartmanizi tavsiye ederim. </p>
                    <p>3. Selim zamaninda; Galata Kulesi onarildiktan sonra, Kule'nin ust katina bir cumba eklenir. 1831'de kule bir yangin daha gecirir. Bu sefer 2. Mahmut; Kule'nin uzerine iki kat daha cikar ve kulah biciminde olan unlu dam ortusuyle Kule'nin tepesi kapatilir. O donem onarimla alakali olarak, Pertev Pasa'nin bir de yaziti Galata Kulesi'ne yerlestirilir.</p>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                       Eminonu
                        <strong></strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/img/kapalicarsi.jpeg" alt="">
                    <hr class="visible-xs">
                    <p>Eminonu kapali carsi  </p>
                    <p> Eminonu Kapali Carsi 31 bin metrakare alana sahiptir. Ortu sistemi kursunla kapli ve dam sayisiz kubbeyle doludur. Ayrica carsinin icindeki ic bedesten denilen 48x36 olculerinde dikdortgen, 15 kubbe ve 8 ayakli mekanin Bizans zamanindan gunumuze kaldigi da rivayet edilmektedir. <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
                    <p>Carsi o gunlerden gunumuze bircok onarim ve restorasyondan gecmis; en buyuk capta hasari ise, 1894 yilinda yasanan depremde almistir. Kapalicarsi mimarisine uygun, yuzyillarin cagdasi olan yapi,
                    gunumuzde ticari ve turistik amacli her gun farkli dil ve kulturden ziyaretcilerini agirlamaya devam etmektedir. </p>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        ATATURK ARBORETUMU,ISTANBUL
                        <strong></strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/img/ataturkar.jpeg" alt="">
                    <hr class="visible-xs">
                   
                    <p>  Agac ve odunsu bitkilerin sergilendigi genis bir alan olan Ataturk Arboretumu, Istanbul Sariyer'de, Kemerburgaz-Bahcekoy yolu uzerinde yer aliyor. Arboretumlar, egitim ve bilimsel yanlari agir basan bilgi, emek ve sabirla meydana getirilmis birer canli bitki muzeleri olarak tanimlaniyor. <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
                    <p> Bilimsel arastirma ve gozlem icin kullanilan, cesitli canli agac turlerinin koleksiyonunu barindiran bir muze gorevindeki Ataturk Arboretumu, uc yuz kirk bes hektarlik alanda, bin bes yuzu askin bitki turu bulunuyor.
                    Motosiklet, bisiklet ve evcil hayvanlarin kabul edilmedigi, kesinlikle piknik yapmanin yasak oldugu Arboretumda, fotograf cekmek serbest olsa da tripot kabul edilmiyor. </p>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        BEYOGLU
                        <strong>ISTANBUL</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/img/istiklal-caddesi-e1438034865271.jpg" alt="">
                    <hr class="visible-xs">
                    <p>ISTIKLAL CADDESI  </p>
                    <p>Taksim'in Beyoglu'nun simgesi Istiklal caddesi. Neden mi? Ister sevincli olun, ister melankolik, ister caresiz, ister asik, dilerseniz sadece bir alisveris kolik veya sadece bir Turk filmi karesi ilun ilk gideceginiz yer Istiklal caddesi.
                    Istanbul'un vitrinlerinden simgelerinden birisidir Istiklal Caddesi. Pasajlari,Kiliseleri, Mitinglleri, Geceleri, Festivalleri, Tramvayi ile bir efsane. </p>
                    <p>
                        Geziye Istiklal Caddesinden baslamak aslinda en dogru tercih diyebilirim. Bir ucundan asagi sallanirsaniz Karakoy, bir ucu Tophane, diger ucunda Dolmabahce-Besiktas, az ileride Harbiye-Nisantasi-Osmanbey-Sisli-Kurtulus-Mecidiyekoy...
                    </p>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        KIZ KULESI
                        <strong>Istanbul</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/img/kizkulesi.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Mavi Gozlu Kiz  </p>
                    <p>Mavi gozlu kiz olarak isminden sikca bahsedilen Istanbul'in mavi gozleri bogazin serin sulari ise bu gozun bebegi de Kiz Kulesi'dir. Kiz Kulesi icin Hero & Leandros'un ask hikayesi, Yilan'in oldurdugu kizin hikayesi ve Battal Gazi hikayelerinden bahsedilse de bu efsaneler gercek olabilecegi gibi sadece birer efsane de olabilir. Ancak isin icinde hep bir kizin olmasi bu kulenin isminin Kiz Kulesi olmasinin kacinilmazligini sagliyor. 
                    <p>Kiz Kulesi her donem kullanimi acisindan farkliliklar gostermis zaman zaman gozetleme kulesi, bazen bir kontrol noktasi, son donemlerinde ise kutlama yeri ve Restoran olarak doneminin insanlarina hizmet vermistir.
                    Gecirdigi son restorasyon sonrasinda 2000 yilindan bu gune kapilarini acan Kiz Kulesi artik Mavi Gozlu Kiz Istanbul'un goz bebegi olarak, restoran ve cafe olmak uzere yerli yabanci ziyaretcilerine hizmet veriyor.
                          </p>
                    <p>Kiz Kulesi'ne Uskudar sahilinde Salacak mevkinden surekli kalkan teknelerle ulasmak cok kolay. Dilerseniz Kiz Kulesi icin yapilmis web sitesinden rezervasyon yaptirarak guzel bir Istanbul gunu gecirmek sizin elinizde. </p>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        AGA KAPISI
                        <strong></strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/img/aga-kapisi-sultaahmet.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Aga Kapisi Cafe  </p>
                    <p>istanbullularinda arkadaslarindan sakladigi nadide mekanlardan biridir Aga Kapisi. Tarihi yarimadayi kucaklayan manzarasi, lezzetli Osmanli serbetleri, ozel bitki caylarinin bonusu yari panoramik Istanbul manzarasidir.
                    Buraya ulasabilmeniz icin Arnavut kaldirimlari, bakimsiz sokaklari ve virane evleri gecmeniz gerekiyor. Kapisindan ben nereye geldim hissi verse de ust katlarina ciktikca...  Burayi kimseye soylemeyelim. Bir tek biz gidelim hissine kapilacaginizi garanti ediyoruz.  </p>
                    <p>Adres: Suleymaniye Mah., Fetva Yokusu Nazir Izzet Efendi Sok. No:11, Tahtakale/Istanbul
                        
                    </p>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        CENGELKOY
                        <strong></strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/img/hatri-kahve-cengelkoy1.jpg" alt="">
                    <hr class="visible-xs">
                    <p> HATRI-KAHVE </p>
                    <p>Cengelkoy'de fazla kimsenin bilmedigi kucuk, ama sevimli mekan Hatr-i Kahve, ilk rengarenk dekoruyla sizi icine ceker.
                    Sonra iceceginiz lezzetli kahve ve tatlilariyla, ozellikle tavsiyemiz sicak cikolatasini tatmaniz. Belcika usulu yapilan sicak cikolatalarinin lezzeti harika. </p>
                    <p>Adres: Cengelkoy Mah. Oymak Sok. (Petrol ofoso karsi sokagi) Cengelkoy/istanbul
                     
                    </p>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Eminonu
                        <strong></strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/img/kapalicarsi.jpeg" alt="">
                    <hr class="visible-xs">
                    <p>Eminonu kapali carsi  </p>
                    <p> Eminonu Kapali Carsi 31 bin metrakare alana sahiptir. Ortu sistemi kursunla kapli ve dam sayisiz kubbeyle doludur. Ayrica carsinin icindeki ic bedesten denilen 48x36 olculerinde dikdortgen, 15 kubbe ve 8 ayakli mekanin Bizans zamanindan gunumuze kaldigi da rivayet edilmektedir. <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
                    <p>
                        Carsi o gunlerden gunumuze bircok onarim ve restorasyondan gecmis; en buyuk capta hasari ise, 1894 yilinda yasanan depremde almistir. Kapalicarsi mimarisine uygun, yuzyillarin cagdasi olan yapi,
                        gunumuzde ticari ve turistik amacli her gun farkli dil ve kulturden ziyaretcilerini agirlamaya devam etmektedir.
                    </p>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Eminonu
                        <strong></strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="~/img/" alt="">
                    <hr class="visible-xs">
                    <p>Eminonu kapali carsi  </p>
                    <p> Eminonu Kapali Carsi 31 bin metrakare alana sahiptir. Ortu sistemi kursunla kapli ve dam sayisiz kubbeyle doludur. Ayrica carsinin icindeki ic bedesten denilen 48x36 olculerinde dikdortgen, 15 kubbe ve 8 ayakli mekanin Bizans zamanindan gunumuze kaldigi da rivayet edilmektedir. <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
                    <p>
                        Carsi o gunlerden gunumuze bircok onarim ve restorasyondan gecmis; en buyuk capta hasari ise, 1894 yilinda yasanan depremde almistir. Kapalicarsi mimarisine uygun, yuzyillarin cagdasi olan yapi,
                        gunumuzde ticari ve turistik amacli her gun farkli dil ve kulturden ziyaretcilerini agirlamaya devam etmektedir.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Beautiful boxes
                        <strong>to showcase your content</strong>
                    </h2>
                    <hr>
                    <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                    
                </div>
            </div>
        </div>
    
   
    <script src="../../Scripts/js/jquery.js"></script>
    <script src="../../Scripts/js/bootstrap.min.js"></script>
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>
</html>
